html, body {
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #eee;
}

@font-face {
  font-family: Code;
  src: url("../fonts/CODE.otf");
}

/******************************************************************************/
body {
  font-family: "Open Sans", "Myriad Pro", sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", "Lucida Grande", sans-serif;
  font-weight: 700;
  text-align: center;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
}

p {
  font-size: 15px;
}

a {
  text-decoration: none;
  color: #007edf;
}

a:hover, a:focus {
  text-decoration: underline;
}

p a:hover, p a:focus, p a:active, p a:link, p a:visited {
  text-decoration: none;
}

em {
  font-style: italic;
}

strong {
  font-weight: 700;
}

.btn-wrapper {
  margin: 5px;
  padding: 5px;
  text-align: center;
}

.btn,
.btn:focus {
  width: 100%;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  border: 3px solid #000;
  border-radius: 0;
  background-color: transparent;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  color: #fff;
  border: 3px solid #000;
  background-color: #000;
}

.btn-default {
  font-size: 15px;
}

.btn-big {
  font-size: 18px;
  padding: 10px 10px;
}

@media screen and (min-width: 768px) {
  .btn {
    max-width: 300px;
  }
}

/*******************************************************************************
Navbar Variables
*******************************************************************************/
/*******************************************************************************
Navbar Styles
*******************************************************************************/
.navbar-default {
  letter-spacing: 1.5px;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #000;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:focus {
  line-height: 25px;
  color: #fff;
  background-color: #000;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus:hover {
  color: #fff;
  background-color: #323232;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  -ms-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li.active > a:focus {
  color: #fff !important;
  background-color: #323232;
}

.navbar-default .navbar-nav > li.active > a:hover,
.navbar-default .navbar-nav > li.active > a:focus:hover {
  background-color: #323232;
}

.navbar-default .navbar-toggle {
  border-color: #555;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #555;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #fff;
}

.navbar-default .navbar-img {
  height: 45px;
  padding: 10px 0 0 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

@media screen and (min-width: 992px) {
  .navbar > .container-fluid {
    padding-right: 30px;
  }
  .navbar .navbar-nav > li > a,
  .navbar .navbar-nav > li > a:focus {
    background-color: transparent;
  }
  .navbar .navbar-img {
    height: 60px;
  }
  .navbar .navbar-img-home {
    height: 80px;
  }
  .navbar-transition {
    padding: 20px 0 0 0;
    background-color: transparent;
    border-bottom: 0;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -ms-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -o-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
  .navbar-transition .container-fluid {
    margin: 0 15px 0 15px;
  }
  .navbar-transition.navbar-collapse {
    padding: 0;
    background-color: #000;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  .navbar-transition.navbar-collapse .navbar-img {
    height: 45px;
  }
}

@media screen and (max-width: 767px) {
  .navbar-default .navbar-img {
    margin-top: 3px;
    padding: 5px 10px;
  }
}

/*******************************************************************************
Jumbotron Styles
*******************************************************************************/
.jumbotron-wrapper {
  padding: 0 10px;
  color: #fff;
  background: #000;
  position: relative;
}

.jumbotron-wrapper .delayed-entry {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -ms-animation-delay: 0.5s;
  -o-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.jumbotron-content #title {
  font-family: "Code", "Raleway", "Lucida Grande", sans-serif;
  font-weight: 700;
  letter-spacing: 8px;
}

.jumbotron-content #tagline {
  font-family: "Code", "Raleway", "Lucida Grande", sans-serif;
  font-weight: 300;
  letter-spacing: 3px;
  padding-top: 10px;
  padding-bottom: 30px;
}

.btn-scroll-wrapper {
  text-align: center;
  position: absolute;
  bottom: 3%;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
}

.btn-scroll-wrapper .btn-scroll,
.btn-scroll-wrapper .btn-scroll:focus {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
}

.btn-scroll-wrapper .btn-scroll:hover {
  color: #000;
  background-color: #fff;
}

@media screen and (min-width: 992px) {
  .btn-scroll-wrapper .btn-scroll {
    font-size: 40px;
    width: 65px;
    height: 65px;
  }
}

@media screen and (min-width: 768px) {
  .jumbotron-big {
    height: 100vh;
    max-height: 850px;
  }
  .jumbotron-big .jumbotron-content {
    position: relative;
    top: 45%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .jumbotron-big .jumbotron-content #title {
    font-size: 720%;
  }
  .jumbotron-small {
    height: 60vh;
  }
  .jumbotron-small .jumbotron-content {
    position: relative;
    top: 55%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .jumbotron-small .jumbotron-content #title {
    font-size: 500%;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .btn-scroll-wrapper .btn-scroll {
    font-size: 32px;
    width: 55px;
    height: 55px;
  }
}

@media screen and (max-width: 767px) {
  .jumbotron-big {
    min-height: 60vh;
  }
  .jumbotron-small {
    min-height: 50vh;
  }
  .jumbotron-content {
    padding-top: 40px;
    padding-bottom: 80px;
  }
  .jumbotron-content #title {
    font-size: 320%;
    padding-top: 60px;
    letter-spacing: normal;
  }
  .jumbotron-content #tagline {
    font-size: 150%;
  }
  .btn-scroll-wrapper .btn-scroll {
    font-size: 28px;
    width: 50px;
    height: 50px;
  }
}

/*******************************************************************************
Cards Styles
*******************************************************************************/
.card-wrapper {
  position: relative;
  background: #fff;
  box-shadow: 0 0 5px #777;
}

.card-big {
  margin: 20px 0;
  padding: 20px 30px 40px 30px;
}

.card-small {
  margin: 10px 0;
  padding: 10px 40px 10px 40px;
}

@media screen and (max-width: 767px) {
  .card-big {
    padding-right: 10px;
    padding-left: 10px;
  }
  .card-small {
    margin: 25px 0;
    padding: 20px 10px 30px 10px;
  }
}

/*******************************************************************************
Footer Styles
*******************************************************************************/
.footer {
  width: 100%;
  color: #fff;
  background: #000;
}

.footer p {
  font-size: 14px;
  padding: 20px 0 10px 0;
}

.footer p a {
  color: #fff;
}

.footer p a:hover {
  text-decoration: underline;
}

/*******************************************************************************
Home Page Styles
*******************************************************************************/
.content-home {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}

.content-home .card-big h3 {
  font-weight: 400;
  margin-bottom: 30px;
  letter-spacing: 2px;
}

.card-labels {
  margin-top: 25px;
}

.card-labels .card-label {
  text-align: center;
}

.card-labels .card-label .label {
  font-size: 13px;
  font-weight: 300;
  display: inline-block;
  min-width: 50%;
  padding: 7px 0;
  text-align: center;
  letter-spacing: 0.5px;
}

.card-stamps {
  margin-bottom: 15px;
}

.card-stamps .card-stamp {
  font-family: "Open Sans", "Myriad Pro", sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  color: white;
  border: 5px solid #fff;
  padding: 10px;
  background-color: #434343;
  box-shadow: 0 0 0 3px #434343;
}

.card-stamps h4.card-stamp {
  font-size: 16px;
}

.card-stamps h5.card-stamp {
  font-size: 15px;
}

.card-stamps h6.card-stamp {
  font-size: 14px;
}

.card-blockquote {
  border-left: 5px solid #d6d6d6;
  border-right: 5px solid #d6d6d6;
  background-color: #f6f6f6;
}

.card-projects .project {
  margin-top: 25px;
}

.card-projects .project .project-details {
  font-family: "Open Sans", "Myriad Pro", sans-serif;
  font-size: 15px;
  text-align: center;
  color: #696969;
}

@media screen and (max-width: 767px) {
  .card-label .label {
    width: 100%;
  }
}

/*******************************************************************************
Blog Page Styles
*******************************************************************************/
.content-blog {
  padding-top: 20px;
  padding-bottom: 20px;
}

.content-blog > .row {
  margin-top: 0;
  margin-bottom: 0;
}

.content-blog .card-small a {
  margin-bottom: 10px;
  color: #000;
}

.content-blog .card-small a:hover,
.content-blog .card-small a:focus {
  text-decoration: none;
}

.content-blog .card-small .post-title {
  font-size: 25px;
  line-height: 1.3;
  margin-top: 20px;
  text-align: left;
}

.content-blog .card-small .post-subtitle {
  font-family: "Open Sans", "Myriad Pro", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}

.content-blog .card-small .post-meta {
  font-size: 14px;
  font-style: italic;
  color: #878787;
}

/*******************************************************************************
Blog Post Styles
*******************************************************************************/
.jumbotron-blogpost .blogpost-title {
  font-family: "Code", "Raleway", "Lucida Grande", sans-serif;
  font-size: 450%;
  font-weight: 700;
  letter-spacing: 3px;
  text-align: center;
  color: #fff;
  margin-top: 0;
}

.jumbotron-blogpost .blogpost-time {
  font-family: "Code", "Raleway", "Lucida Grande", sans-serif;
  font-size: 120%;
  font-weight: 100;
  letter-spacing: 3px;
  padding: 20px 0 0 0;
  text-align: center;
  color: #fff;
}

.content-blogpost {
  padding-top: 20px;
  padding-bottom: 20px;
}

.content-blogpost .blog-post {
  text-align: justify;
}

@media screen and (max-width: 767px) {
  .jumbotron-blogpost .blogpost-title {
    font-size: 300%;
    padding-top: 75px;
  }
  .content-blogpost .blog-post {
    text-align: left;
  }
}
