/*******************************************************************************
Blog Post Styles
*******************************************************************************/

.jumbotron-blogpost {
    .blogpost-title {
        font-family: 'Code', $heading-font-stack;
        font-size: 450%;
        font-weight: $font-bold;
        letter-spacing: 3px;
        text-align: center;
        color: #fff;
        margin-top: 0;
    }
    .blogpost-time {
        font-family: 'Code', $heading-font-stack;
        font-size: 120%;
        font-weight: $font-thin;
        letter-spacing: 3px;
        padding: 20px 0 0 0;
        text-align: center;
        color: #fff;
    }
}

.content-blogpost {
    padding-top: 20px;
    padding-bottom: 20px;
    .blog-post {
        text-align: justify;
    }
}

@include small-screens-only {
    .jumbotron-blogpost {
        .blogpost-title {
            font-size: 300%;
            padding-top: 75px;
        }
    }
    .content-blogpost .blog-post {
        text-align: left;
    }
}
