/*******************************************************************************
Footer Styles
*******************************************************************************/

.footer {
    width: 100%;
    color: #fff;
    background: #000;
    p {
        font-size: 14px;
        padding: 20px 0 10px 0;
        a {
            color: #fff;
        }
        a:hover {
            text-decoration: underline;
        }
    }
}
