/*******************************************************************************
Navbar Variables
*******************************************************************************/

$nav-color: #000;
$nav-item-color: #000;
$nav-item-alt-color: #323232;

/*******************************************************************************
Navbar Styles
*******************************************************************************/

.navbar-default {
    letter-spacing: 1.5px;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    background-color: $nav-color;
    .navbar-nav {
        > li > a,
        > li > a:focus {
            line-height: 25px;
            color: #fff;
            background-color: $nav-item-color;
        }
        > li > a:hover,
        > li > a:focus:hover {
            color: #fff;
            background-color: $nav-item-alt-color;
            @include transition(background .3s ease-in-out);
        }
        > li.active > a,
        > li.active > a:focus {
            color: #fff !important;
            background-color: $nav-item-alt-color;
        }
        > li.active > a:hover,
        > li.active > a:focus:hover {
            background-color: $nav-item-alt-color;
        }
    }
    .navbar-toggle {
        border-color: #555;
        .icon-bar {
            background-color: #fff;
        }
    }
    .navbar-toggle:hover,
    .navbar-toggle:focus {
        background-color: #555;
    }
    .navbar-collapse,
    .navbar-form {
        border-color: #fff;
    }
    .navbar-img {
        height: 45px;
        padding: 10px 0 0 0;
        @include transition(all .5s ease-in-out);
    }
}

@include large-screens-only {
    .navbar {
        > .container-fluid {
            padding-right: 30px;
        }
        .navbar-nav {
            > li > a,
            > li > a:focus {
                background-color: transparent;
            }
        }
        .navbar-img {
            height: 60px;
        }
        .navbar-img-home {
            height: 80px;
        }
    }
    .navbar-transition {
        padding: 20px 0 0 0;
        background-color: transparent;
        border-bottom: 0;
        @include transition(background .5s ease-in-out, padding .5s ease-in-out);
        .container-fluid {
            margin: 0 15px 0 15px;
        }
    }
    .navbar-transition.navbar-collapse {
        padding: 0;
        background-color: $nav-color;
        border-bottom: 1px solid rgba(255, 255, 255, .3);
        .navbar-img {
            height: 45px;
        }
    }
}

@include small-screens-only {
    .navbar-default .navbar-img {
        margin-top: 3px;
        padding: 5px 10px;
    }
}
